extends layout
block head
  link(rel="stylesheet" href='/stylesheets/classic-min.css')
  script(src="/javascripts/filter.js")
  script(src="/javascripts/xy-plot.js")
  script(src='/javascripts/jQDateRangeSlider-min.js')

block content
  header
    div.row
      div.col-sm-12.col-lg-12
        h1 Welcome to Equal
        p this is a website that helps you excplore financial data from US companies. Simply select the metrics you would like to compare on the axis, any clustering techniques you would like to use and on the right select the companies you would like plotted.
        p As the dataset is moderately big, retriving and plotting the data may take a couple seconds.
  main
    div.row
      div.col-lg-3
        span X-Axis:
        select.form-control#x
          - for (var i = 0; i < render_info.statements.length; i++)
            optgroup(label=render_info.statements[i].name)
              - for (var j = 0; j < render_info.statements[i].metrics.length; j++)
                option(value=render_info.statements[i].metrics[j].metric_code) #{render_info.statements[i].metrics[j].metric_description}
      div.col-lg-3
        span Y-Axis:
        select.form-control#y
          - for (var i = 0; i < render_info.statements.length; i++)
            optgroup(label=render_info.statements[i].name)
            - for (var j = 0; j < render_info.statements[i].metrics.length; j++)
              option(value=render_info.statements[i].metrics[j].metric_code) #{render_info.statements[i].metrics[j].metric_description}
      div.col-lg-3
        span Size:
        select.form-control#size
          - for (var i = 0; i < render_info.statements.length; i++)
            optgroup(label=render_info.statements[i].name)
            - for (var j = 0; j < render_info.statements[i].metrics.length; j++)
              option(value=render_info.statements[i].metrics[j].metric_code) #{render_info.statements[i].metrics[j].metric_description}
      div.col-lg-3
        span Clustering Algorithm:
        select.form-control#cluster
          option(value="none") None
          option(value="km") K-means
          option(value="kmpp") K-means++
          option(value="random") Random
    div.row
      div.col-sm-12.col-md-6.col-lg-3
        h3 Select Sector
        select.form-control#sector(onchange="filter_entry()" size="30" multiple)
          option(value="all" selected) Select All
          - each sector in render_info.sector
            option(value=sector) #{sector}
      div.col-sm-12.col-md-6.col-lg-3
        h3 Select FAMA Industry
        select.form-control#fama(onchange="filter_entry()" size="30" multiple)
          option(value="all" selected) Select All
          - each fama in render_info.fama
            option(value=fama) #{fama}
      div.col-sm-12.col-md-6.col-lg-3
        h3 Select Industry
        select.form-control#industry(onchange="filter_entry()" size="30" multiple)
          option(value="all" selected) Select All
          - each industry in render_info.industry
            option(value=industry) #{industry}
      div.col-sm-12.col-md-6.col-lg-3
        h3 Select Company
        select.form-control#company(multiple size="30")
          option(value="all" selected) Select All
          - each company in render_info.company
            option(value=company.ticker data-fama=company.fama_industry data-sector=company.sector data-industry=company.industry) #{company.name}
    div.row
      div.col-sm-12.col-md-12.col-lg-6
        button#plot.btn.btn-primary.center-block(onclick='plot()') Plot Graph
      div.col-sm-12.col-md-12.col-lg-6
        div.col-sm-2.col-md-2.col-lg-2
          label Date Slider: 2009
        div.col-sm-8.col-md-8.col-lg-8
          input#date(type="range" min="2009" max="2015" step="1" value="2015" onchange='render()')
        div.col-sm-2.col-md-8.col-lg-2
          label 2015
    div.row
      div.col-sm-12.col-md-12.col-lg-12
        div#graph
  footer Copyright Bob Zhou and Grace 2016




