doctype html
html
  head
    title= title
    //custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    //jQuery
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    //bootstrap
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="javascripts/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    //D3
    script(src="https://d3js.org/d3.v4.min.js")
    //nvd3
    link(rel='stylesheet', href='https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css')
    script(src='https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.js')

    //plotly
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    block head
  body
    block content
