body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top{
  display: flex;
}

.axis-config{
  flex:1;
}

.bottom{
  display: flex;
}

.graph_space{

}

div.row {
  margin-top: 40px;
  margin-bottom: 20px;
}